menu "SIM70XX"
    choice 
        prompt "Target device"
        config SIM70XX_DEV_SIM7020
            bool "SIM7020"
            help
                Enable support for the SIM7020 NB-IoT modem.

        config SIM70XX_DEV_SIM7080
            bool "SIM7080"
            help
                Enable support for the SIM7080 LTE Cat-M and NB-IoT modem.
    endchoice

    config SIMXX_DEV
        int
        default 7020 if SIM70XX_DEV_SIM7020
        default 7080 if SIM70XX_DEV_SIM7080

    menu "FreeRTOS"
        config SIM70XX_TASK_CORE_AFFINITY
            bool "Communication task core affinity"
            default y
            help
                Enable this option if you want to use a specific core for the driver.

        config SIM70XX_TASK_COM_CORE
            int "Communication task core"
            range 0 1
            default 1
            depends on SIM7020_TASK_CORE_AFFINITY
            help
                Use a specific core for the communication task.

        config SIM70XX_TASK_evt_PRIO
            int "Communication task priority"
            range 12 25
            default 12
            help
                Task priority for the communication task.

        config SIM70XX_TASK_evt_STACK
            int "Communication task stack size"
            range 4096 16384
            default 4096
            help
                Stack size for the communication task.
        
        config SIM70XX_QUEUE_LENGTH
            int "Communication task queue length"
            range 8 32
            default 16
            help
                Event queue length for the communication task.
    endmenu

    menu "Drivers"
        config SIM70XX_DRIVER_WITH_COAP
            bool "Enable CoAP support"
            depends on (SIM70XX_DEV_SIM7080 || SIM70XX_DEV_SIM7020)
            default n
            help
                Enable this option if you want CoAP support added to the driver.

        config SIM70XX_DRIVER_WITH_MQTT
            bool "Enable MQTT support"
            depends on (SIM70XX_DEV_SIM7080 || SIM70XX_DEV_SIM7020)
            default n
            help
                Enable this option if you want MQTT support added to the driver.

        config SIM70XX_DRIVER_WITH_HTTP
            bool "Enable HTTP support"
            depends on (SIM70XX_DEV_SIM7080 || SIM70XX_DEV_SIM7020)
            default n
            help
                Enable this option if you want HTTP support added to the driver.

        config SIM70XX_DRIVER_WITH_TCPIP
            bool "Enable TCP/IP support"
            depends on (SIM70XX_DEV_SIM7080 || SIM70XX_DEV_SIM7020)
            default n
            help
                Enable this option if you want TCP/IP support added to the driver.

        config SIM70XX_DRIVER_WITH_NTP
            bool "Enable NTP support"
            depends on (SIM70XX_DEV_SIM7080 || SIM70XX_DEV_SIM7020)
            default n
            help
                Enable this option if you want NTP support added to the driver.

        config SIM70XX_DRIVER_WITH_DNS
            bool "Enable DNS support"
            depends on (SIM70XX_DEV_SIM7080 || SIM70XX_DEV_SIM7020)
            default n
            help
                Enable this option if you want DNS support added to the driver.
	
        config SIM70XX_DRIVER_WITH_GPS
            bool "Enable GPS support"
            depends on SIM70XX_DEV_SIM7080
            default n
            help
                Enable this option if you want GPS support added to the driver.

        config SIM70XX_DRIVER_WITH_FS
            bool "Enable File System support"
            depends on SIM70XX_DEV_SIM7080
            default n
            help
                Enable this option if you want File System support added to the driver.

        config SIM70XX_DRIVER_WITH_EMAIL
            bool "Enable E-Mail support"
            depends on SIM70XX_DEV_SIM7080
            default n
            help
                Enable this option if you want E-Mail support added to the driver.

        config SIM70XX_DRIVER_WITH_NVRAM
            bool "Enable NVRAM support"
            depends on SIM70XX_DEV_SIM7020
            default n
            help
                Enable this option if you want NWR support added to the driver.

    endmenu

    menu "UART"
        config SIM70XX_UART_BUFFER_SIZE
            int "UART buffer size"
            range 128 1024
            default 256
            help
                UART communication buffer size.
    endmenu

    menu "Reset"
        depends on SIM70XX_DEV_SIM7020
        config SIM70XX_RESET_USE_HW
            bool "Enable hardware reset"
            default n
            help
                Enable this option if you want to use a hardware reset through an IO.
    endmenu

    menu "Misc"
        config SIM70XX_MISC_ERROR_BASE
            hex "SIMXX driver error base definition"
            range 0 FFFF
            default 0x9000
            help
                Set the error base for the driver.
    endmenu
endmenu