menu "Demo"
    menu "NTP"
	    depends on SIM70XX_DRIVER_WITH_NTP

        config DEMO_USE_SNTP
            bool "Enable the SNTP demo"

        config DEMO_SNTP_HOST
	        depends on DEMO_USE_SNTP
            string "Server address"
			default "de.pool.ntp.org"

		config DEMO_SNTP_TIMEZONE
	        depends on DEMO_USE_SNTP
            int "Timezone"
			default 0
			range -47 48
	endmenu

	menu "File System"
	    depends on SIM70XX_DRIVER_WITH_FS

        config DEMO_USE_FS
            bool "Enable the FS demo"
	endmenu

	menu "NVRAM"
	    depends on SIM70XX_DRIVER_WITH_NVRAM

        config DEMO_USE_NVRAM
            bool "Enable the NVRAM demo"
	endmenu

	menu "MQTT"
	    depends on SIM70XX_DRIVER_WITH_MQTT

        config DEMO_USE_MQTT
            bool "Enable the MQTT demo"

        config DEMO_MQTT_BROKER
	        depends on DEMO_USE_MQTT
            string "Broker address"
            default "test.mosquitto.org"

		config DEMO_MQTT_PORT
	        depends on DEMO_USE_MQTT
            int "Broker port"
            range 0 65535
			default 1883

        config DEMO_MQTT_USE_LOGIN
	        depends on DEMO_USE_MQTT
            bool "Use login credentials"

		config DEMO_MQTT_USER
	        depends on DEMO_USE_MQTT
            string "MQTT user"
            default "roger"
            depends on DEMO_MQTT_USE_LOGIN

		config DEMO_MQTT_PASSWORD
	        depends on DEMO_USE_MQTT
            string "MQTT password"
            default "password"
            depends on DEMO_MQTT_USE_LOGIN

        config DEMO_MQTT_KEEPALIVE
	        depends on DEMO_USE_MQTT
            int "Connection keep alive time"
            range 0 65535
            default 60
	endmenu

	menu "UDP"
	    depends on SIM70XX_DRIVER_WITH_TCPIP

        config DEMO_USE_UDP_CLIENT
            bool "Enable the UDP client demo"

        config DEMO_UDP_CLIENT_HOST
	        depends on DEMO_USE_UDP_CLIENT
            string "Server address"

		config DEMO_UDP_CLIENT_PORT
	        depends on DEMO_USE_UDP_CLIENT
            int "Server port"
            range 0 65535
			default 5246
	endmenu

	menu "TCP/IP"
	    depends on SIM70XX_DRIVER_WITH_TCPIP

        config DEMO_USE_TCPIP_CLIENT
            select SIM70XX_DRIVER_WITH_DNS
            bool "Enable the TCP/IP client demo"

        config DEMO_TCP_CLIENT_HOST
	        depends on DEMO_USE_TCPIP_CLIENT
            string "Server address"
            default "webhook.site"

		config DEMO_TCP_CLIENT_PORT
	        depends on DEMO_USE_TCPIP_CLIENT
            int "Server port"
            range 0 65535
			default 80

        config DEMO_TCP_CLIENT_ENDPOINT
	        depends on DEMO_USE_TCPIP_CLIENT
            string "Server endpoint"
	endmenu
endmenu